
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<img src="image.jpg">
<table>
    <tr>
        <th>Year</th>
        <th>KM</th>
        <th>Color</th>
        <th>Price</th>
        <th>Location</th>
    </tr>
    {% for car in cars %}
    <tr>
        <td>{{ car.year }}</td>
        <td>{{ car.km }}</td>
        <td>{{ car.calor }}</td>
        <td>{{ car.price }}</td>
        <td>{{ car.location }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>